* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 1rem;
}

nav {
  background-color: blue;
  height: 10vh
}

section:first-of-type {
  background-color: green;
  height: 15vh;
}

section:last-of-type {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

article {
  height: 25vh;
  width: 100vw;
}

article:nth-child(1), article:nth-child(2) {
  background-color: yellow;
}

article:nth-child(3), article:nth-child(4) {
  background-color: purple;
}

article:nth-child(5), article:nth-child(6) {
  background-color: pink;
}

footer {
  position: sticky;
  bottom: 0;
  background-color: red;
  height: 10vh;
}